.hopscotch-callout {
    height: 100%!important;
    width: 95%!important;
    left: 215px!important;
    top: 92px!important;
    border: none!important;
    border-radius: none;

    .hopscotch-bubble-container {
        margin: 0 auto!important;
        text-align: center;
        width: 600px!important;
        margin-top: 20px!important;
        box-shadow: 0 1px 10px rgba(0,0,0,250);
        border-radius: 5px;
        padding: 40px 0!important;
    }

    .hopscotch-bubble-arrow-container {
        display: none!important;
    }

    .hopscotch-title {
        text-align: center!important;
        font-size: 3rem!important;
        width: 100%!important;
    }

    .hopscotch-content {
        margin-top: 10px!important;

        .custom-bubble-content-title {
            text-align: center!important;
        }

        .bubble-img {
            background-image: url('../../assets/taskillustration.png');
            height: 300px;
            width: 500px;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
        }

        .custom-bubble-guide {
            background: rgb(248, 248, 248);
            padding: 10px;
            border-radius: 5px;
            width: 75%;
            margin: 20px auto;
            font-size: 1rem;

            li {
                margin-bottom: 5px;
            }
        }

        .custom-bubble-action {
            width: 60%;
            margin: 0 auto!important;

            .callout-btn {
                width: 93%!important;
                font-weight: bold;
            }
        }
    }

}

@media screen and (max-width: 950px) {
    .hopscotch-callout {
        left: 0!important;
        top: 60px!important;
        width: 100%!important;
    }
}

@media screen and (max-width: 767px) {

    .hopscotch-callout {
        width: 100%!important;
        .hopscotch-bubble-container {
            margin: 0 auto!important;
            text-align: center;
            width: 90%!important;
            padding: 10px 0!important;
        }

        .hopscotch-title {
            font-size: 1.25rem!important;
        }

        .hopscotch-content {
            .custom-bubble-content-title {
                font-size: .8rem!important;
            }

            .bubble-img {
                width: 300px;
                height: 200px;
            }

            
            .custom-bubble-guide {
                font-size: .8rem;

                li {
                    margin-bottom: 5px;
                }
            }
        }
    }


}